<%- include('partials/header') %>

<div class="header">
	<div class="wrapper">
		<h1><img src="public/img/logo.png" alt="NodeWorld" width="200px" /></h1>
		<form class="login-form">
			<!--label for="login-email">Email</label-->
			<input type="text" id="login-email" placeholder="Email" autofocus="autofocus">
			<input type="password" id="login-password" placeholder="Password">
			<input type="submit" name="submit" value="Sign In">

		</form>
	</div>
</div>
<%- include('partials/footer') %>